<!DOCTYPE html>
<html lang="en">
  <body>
    <main id="main" class="main">
      <section id="dynimic_app" class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title fw-bold text-center"></h5>

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>클러스터 이름</th>
                      <th>노드 이름</th>
                      <th>CPU 코어</th>
                      <th>메모리 (GB)</th>
                      <th>디스크 (GB)</th>
                      <th>GPU 갯수</th>
                      <th>GPU 이름</th>
                      <th>성능 레벨 (1~10)</th>
                      <th>GPU 레벨 (1~10)</th>
                      <th>보안 레벨 (1~5)</th>
                      <th style="width: 50px">상태</th>
                      <th style="width: 60px">저장</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(node, index) in nodeList" :key="node.nodeUid">
                      <td style="text-align: left">{{ node.clusterNm }}</td>
                      <td style="text-align: left">{{ node.nodeInfo.nodeNm }}</td>
                      <td>{{ node.nodeInfo.cpu }}</td>
                      <td>{{ node.nodeInfo.memory }}</td>
                      <td>{{ node.nodeInfo.disk }}</td>
                      <td>{{ node.nodeInfo.gpu }}</td>
                      <td style="text-align: left">{{ node.nodeInfo.gpuModels }}</td>
                      <td><input type="number" v-model.number="node.feature.performanceLevel" min="1" max="10" class="form-control" @input="checkChanges(node)" /></td>
                      <td><input type="number" v-model.number="node.feature.gpuLevel"         min="1" max="10" class="form-control" @input="checkChanges(node)" /></td>
                      <td><input type="number" v-model.number="node.feature.securityLevel"    min="1" max="5" class="form-control" @input="checkChanges(node)" /></td>
                      <td>
                        <i style="font-weight: bold; font-size: 20px" :class="changedNodes[node.nodeUid]?.isChanged ? 'fas fa-edit text-warning' : 'fas fa-check-circle text-success'"></i>
                      </td>
                      <td><button class="btn btn-outline-primary btn-sm" :disabled="!changedNodes[node.nodeUid]?.isChanged || changedNodes[node.nodeUid]?.saved" 
                                 @click="saveNode(node, index)">저장</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script>
        {
          window.page_clear = function () {
            //메인에서 동적 html호출하기 전에 기존 함수 클리어하기 위함, 다른 클리어 함수 있으면 여기에 기록
            const ele = document.getElementById("dynimic_app");
            if (ele) {
              const existingApp = ele.__vue_app__;
              if (existingApp) {
                existingApp.unmount(); // 언마운트
                ele.innerHTML = ""; // 기존 DOM 클리어
              }
            }
          };

          const app = Vue.createApp({
            data() {
              return {
                nodeList: [],
                changedNodes: {},
                processUrlPath: "/setting/clusternodefeature",
              };
            },
            created() {
              this.fetchInitialData();
            },
            methods: {
              fetchInitialData() {
                axios.get(this.processUrlPath)
                .then((response) => {
                  const nodeResponse = response.data;
                  const parsedContentList = nodeResponse.map((item) => {
                    item.feature = item.feature ? JSON.parse(item.feature) : {};
                    item.nodeInfo = JSON.parse(item.nodeInfo);
                    return item;
                  });

                  this.nodeList = parsedContentList.map((node) => ({
                    ...node,
                    original: JSON.parse(JSON.stringify(node)),
                  }));

                  this.nodeList.forEach((node) => {
                    this.changedNodes[node.nodeUid] = { isChanged: false, saved: true };
                  });
                  //console.log(this.nodeList, this.changedNodes);
                })
                .catch(() => {
                  //alert("");
                  showNotification("초기 데이터 로드 중 오류가 발생했습니다.!", "danger"); // 성공 알림 main.js
                });
              },
              // 노드 변경 사항 확인
              checkChanges(node) {
                const { original, saved, ...currentData } = node;
                const currentDataString = JSON.stringify(currentData);
                const originalDataString = JSON.stringify(original);

                // 변경 여부 확인
                if (currentDataString !== originalDataString) {
                  this.changedNodes[node.nodeUid].isChanged = true;
                  this.changedNodes[node.nodeUid].saved = false; // 변경된 상태로 설정
                } else {
                  this.changedNodes[node.nodeUid].isChanged = false;
                  this.changedNodes[node.nodeUid].saved = true; // 변경된 상태로 설정
                }
              },
              async saveNode(node, index) {
                // API로 해당 노드만 저장
                try {
                  const { original, ...saveData } = node; //original를 제거한 데이터만 저장
                  saveData.feature  = JSON.stringify(saveData.feature);
                  saveData.nodeInfo = JSON.stringify(saveData.nodeInfo);
                  const response = await axios.put(this.processUrlPath, saveData);
                  node.original = JSON.stringify(saveData); // 원본 업데이트

                  this.changedNodes[node.nodeUid].isChanged = false;
                  this.changedNodes[node.nodeUid].saved = true;

                  showNotification("작업이 완료되었습니다!", "success"); // 성공 알림 main.js
                } catch (error) {
                  console.error("Error:", error);
                  showNotification("작업이 실패했습니다.!", "danger"); // 성공 알림 main.js
                }
              },
            },
          });

          app.mount("#dynimic_app");
        }
        //# sourceURL=nodeFeatureJS
      </script>
    </main>
    <!-- End #main -->
  </body>
</html>
