<!DOCTYPE html>
<html lang="en">
  <body>
    <main id="main" class="main">
      <section id="dynamic_app" class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title fw-bold text-center"></h5>

                <!-- 워크로드 테이블 -->
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 25%">워크로드 이름</th>
                      <!-- <th>우선순위</th> -->
                      <th>Node 레벨</th>
                      <th>GPU 레벨</th>
                      <th>보안 레벨</th>
                      <th>우선순위</th>
                      <th>선점정책</th>
                      <th>클라우드 유형</th>
                      <th style="width: 50px">상태</th>
                      <th style="width: 60px">저장</th>
                      <th style="width: 60px">삭제</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(workload, index) in workloadList" :key="workload.id">
                      <td>
                        <input type="text" v-model="workload.name" class="form-control" @blur="checkChanges(workload)" />
                      </td>
                      <!-- <td>
                        <input
                          type="number"
                          v-model.number="workload.priority"
                          class="form-control"
                          min="1"
                          max="5"
                          @input="checkChanges(workload)" />
                      </td> -->
                      <td>
                        <input
                          type="number"
                          v-model.number="workload.nodeLevel"
                          class="form-control"
                          min="1"
                          max="10"
                          @input="checkChanges(workload)" />
                      </td>
                      <td>
                        <input
                          type="number"
                          v-model.number="workload.gpuLevel"
                          class="form-control"
                          min="1"
                          max="10"
                          @input="checkChanges(workload)" />
                      </td>
                      <td>
                        <input
                          type="number"
                          v-model.number="workload.securityLevel"
                          class="form-control"
                          min="1"
                          max="5"
                          @input="checkChanges(workload)" />
                      </td>
                      <td>
                        <select v-model="workload.priorityClass" class="form-select" @change="checkChanges(workload)">
                          <option v-for="type in options.priorityClasses" :value="type.value" :key="type.value">{{ type.label }}</option>
                        </select>
                      </td>
                      <td>
                        <select v-model="workload.preemptionPolicy" class="form-select" @change="checkChanges(workload)">
                          <option v-for="stage in options.preemptionPolicies" :value="stage.value" :key="stage.value">{{ stage.label }}</option>
                        </select>
                      </td>
                      <td>
                        <select v-model="workload.cloudType" class="form-select" @change="checkChanges(workload)">
                          <option v-for="cloud in options.cloudTypes" :value="cloud.value" :key="cloud.value">{{ cloud.label }}</option>
                        </select>
                      </td>
                      <td>
                        <i
                          style="font-weight: bold; font-size: 20px"
                          :class="changedWorkloads[workload.id]?.isChanged ? 'fas fa-edit text-warning' : 'fas fa-check-circle text-success'">
                        </i>
                      </td>
                      <td>
                        <button
                          class="btn btn-outline-primary btn-sm"
                          :disabled="!changedWorkloads[workload.id]?.isChanged"
                          @click="saveWorkload(workload, index)">
                          저장
                        </button>
                      </td>
                      <td>
                        <button class="btn btn-outline-danger btn-sm" @click="deleteWorkload(index)">삭제</button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- 추가 버튼 -->
                <button class="btn btn-success mt-3" @click="addWorkload">워크로드 추가</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script>
        {
          window.page_clear = function () {
            //메인에서 동적 html호출하기 전에 기존 함수 클리어하기 위함, 다른 클리어 함수 있으면 여기에 기록
            const ele = document.getElementById("dynimic_app");
            if (ele) {
              const existingApp = ele.__vue_app__;
              if (existingApp) {
                existingApp.unmount(); // 언마운트
                ele.innerHTML = ""; // 기존 DOM 클리어
              }
            }
          };

          const app = Vue.createApp({
            data() {
              return {
                workloadList: [], // 워크로드 데이터
                changedWorkloads: {}, // 변경 상태 관리
                options: {}, // 옵션 데이터
                processUrlPath: "/setting/workloadfeature",
              };
            },
            created() {
              this.fetchInitialData();
            },
            methods: {
              // 옵션 및 초기 데이터 로드
              fetchInitialData() {
                Promise.all([axios.get("options.json"), axios.get(this.processUrlPath)])
                  .then(([optionsResponse, workloadsResponse]) => {
                    this.options = optionsResponse.data;

                    const parsedContentList = workloadsResponse.data.map((item) => JSON.parse(item));

                    this.workloadList = parsedContentList.map((workload) => ({
                      ...workload,
                      original: JSON.parse(JSON.stringify(workload)),
                    }));

                    this.workloadList.forEach((workload) => {
                      this.changedWorkloads[workload.id] = { isChanged: false, saved: true, isNew: false };
                    });
                  })
                  .catch(() => {
                    //alert("");
                    showNotification("초기 데이터 로드 중 오류가 발생했습니다.!", "danger"); // 성공 알림 main.js
                  });
              },
              // 변경 사항 확인
              checkChanges(workload) {
                const { original, ...currentData } = workload;
                const currentDataString = JSON.stringify(currentData);
                const originalDataString = JSON.stringify(original);

                // 변경 여부 확인
                //console.log(this.changedWorkloads, this.changedWorkloads[workload.id]);
                
                if (currentDataString !== originalDataString) {
                  this.changedWorkloads[workload.id].isChanged = true;
                  this.changedWorkloads[workload.id].saved = false;
                } else {
                  this.changedWorkloads[workload.id].isChanged = false;
                  this.changedWorkloads[workload.id].saved = true; // 변경된 상태로 설정
                }
              },
              // 워크로드 추가
              addWorkload() {
                const newWorkload = {
                  id: Date.now(),
                  name: "",
                  priority: 1,
                  nodeLevel: 1,
                  gpuLevel: 1,
                  securityLevel: 1,
                  workloadType: "",
                  deploymentStage: "",
                  cloudType: "",
                  original: "{}",
                };
                this.workloadList.push(newWorkload);
                this.changedWorkloads[newWorkload.id] = { isChanged: true, saved: false, isNew: true };
              },

              // 워크로드 삭제
              deleteWorkload(index) {
                const workload = this.workloadList[index];
                if (confirm(`워크로드 "${workload.name}"을(를) 삭제하시겠습니까?`)) {
                  axios
                    .delete(this.processUrlPath, {data:{ id: workload.id }})
                    .then((response) => {
                      const result = response.data;
                      if (result.success) {
                        this.workloadList.splice(index, 1);
                        showNotification(`워크로드 "${workload.name}"이(가) 삭제되었습니다.`,'success'); // 성공 알림 main.js
                      } else {
                        showNotification(`워크로드 삭제 실패: ${result.message || "알 수 없는 오류"}`,'danger');
                      }
                    })
                    .catch((error) => {
                      console.error("Error:", error);
                      //showNotification("워크로드 삭제 중 오류가 발생했습니다.",'danger'); 
                      showNotification(error.response.data, 'danger');
                    });
                }
              },

              // 저장 처리
              async saveWorkload(workload, index) {
                try {
                const { original, ...saveData } = workload; //original를 제거한 데이터만 저장

                const statusWrokload = this.changedWorkloads[workload.id];

                const response = statusWrokload.isNew
                    ? await axios.post(this.processUrlPath, saveData)
                    : await axios.put(this.processUrlPath, saveData);

                    if(workload.isNew){
                      workload.id = response.data.id; // API 응답으로 ID 업데이트

                    }

                    workload.original = JSON.stringify(saveData); // 원본 업데이트

                    this.changedWorkloads[workload.id].isChanged = false
                    this.changedWorkloads[workload.id].isNew = false ;
                    this.changedWorkloads[workload.id].saved = true ;

                    showNotification("작업이 완료되었습니다!", "success"); // 성공 알림 main.js
                  } catch (error) {
                  console.error("Error:", error);
                  showNotification("작업이 실패했습니다.!", "danger"); // 성공 알림 main.js
                }
                  
              },
            },
          });

          app.mount("#dynamic_app");
        }
        //# sourceURL=worloadFeatureJS
      </script>
    </main>
    <!-- End #main -->
  </body>
</html>
