<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 -->
<mapper namespace="promQLCollectMapper">

	<select id="selectClusterList" resultType="com.kware.policy.task.collector.service.vo.Cluster">
		SELECT uid, nm, prom_url, updt_dt FROM k_hybrid.mo_cluster WHERE delete_at = 'N'
	</select>
	
	<!-- 클러스터별 수집대상이 되는 promql list -->
	<select id="selectPromqlIdList" resultType="Integer">
		<!-- SELECT * FROM (
			SELECT c.uid cl_uid
				, m.uid prql_uid
				, m.grp_nm
				, m.nm
				, m.cont
				, m.extract_path::text
				, m.type_cd
				, m.default_at
			FROM mo_promql m
				, mo_cluster c
			WHERE m.delete_at = 'N' AND m.default_at = 'Y'
			UNION
			SELECT s.cl_uid
				, uid prgl_uid
				, grp_nm
				, nm
				, cont
				, extract_path::text
				, type_cd
				, default_at
			FROM mo_promql m
			INNER JOIN mo_cluster_promql s ON s.prql_uid = m.uid AND s.delete_at = 'N'
			WHERE m.delete_at = 'N' AND m.default_at = 'N'
			ORDER BY cl_uid, prql_uid
		) m
		WHERE m.cl_uid = #{clUid} -->
		
		<!--  클러스터별 프로메테우스 운영 -->
		<!-- SELECT prql_uid FROM (
			SELECT
				  c.uid cl_uid 
				, m.uid prql_uid
			FROM mo_promql m
				, mo_cluster c
			WHERE m.delete_at = 'N' AND m.default_at = 'Y'
			UNION
			SELECT 
				  s.cl_uid
				, uid prgl_uid
			FROM mo_promql_single m
			INNER JOIN mo_cluster_promql s ON s.prql_uid = m.uid AND s.delete_at = 'N'
			WHERE m.delete_at = 'N' AND m.default_at = 'N'
			ORDER BY cl_uid, prql_uid
		) m
		WHERE m.cl_uid = #{clUid} -->
		
		<!--  통합 프로메테우스 운영 -->
		
			SELECT
				m.uid prql_uid
			FROM mo_promql_total m
				, mo_cluster c
			WHERE m.delete_at = 'N'
		
	</select>
	
	<select id="selectPromqlListAll" resultType="com.kware.policy.task.collector.service.vo.PromQL">
		SELECT 
		      xmin /*transaction id, system column*/
			, m.uid prql_uid
			, m.grp_nm
			, m.nm
			, REPLACE(m.cont,'#|namespace|','string|monitoring|kube-system|calico-.+|tigera-.+|ingress-.+|gpu-operator') AS cont 
			/*, REPLACE(m.cont,'#|namespace|','aaa') AS cont*/
			, m.extract_path::text
			, m.type_cd
			, m.default_at
		/* FROM mo_promql_single m */
		FROM mo_promql_total m
		WHERE m.delete_at = 'N'
	</select>
	
	
	
	<!-- 수집데이터 저장 -->
	<insert id="insertPromqlResult" parameterType="com.kware.policy.task.collector.service.vo.PromQLResult">
		INSERT INTO mo_promql_result (
			  cl_uid
			, prql_uid
			, results
			, collect_dt
		)VALUES (
			  #{clUid}
			, #{prqlUid}
			, #{results}::jsonb
			, #{collectDt}
			)
	</insert>
	
</mapper>

