fastapi==0.89.1
pydantic==1.10.4
pandas==1.5.3
statsmodels==0.13.5
aiohttp==3.8.3
uvicorn==0.20.0
fastapi-utils==0.2.1
Jinja2==3.1.2
numpy==1.24.2
hikaru==1.0.0
dask==2023.2.0
kubernetes==23.6.0
aiofiles==23.1.0
python-multipart==0.0.5
aiosqlite==0.17.0
psycopg2==2.9.5
psycopg2-binary==2.9.5
event-bus==1.0.2
fastapi_camelcase==1.0.5
starlette~=0.22.0