<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" monitorInterval="30">
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %class{10}.%method[%line] - %m%n" />
	<property name="METRIC_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p - %m%n" />
	<property name="APP_LOG_ROOT" value="/app/logs" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="applicationLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_ROOT}/hybrid_front.log</file>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${APP_LOG_ROOT}/backup/hybrid-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>1000</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<logger name="com.zaxxer.hikari" level="ERROR" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="jdbc.resultsettable" level="ERROR" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	<logger name="jdbc.resultset" level="ERROR" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	<logger name="jdbc.sqlonly" level="ERROR" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	<logger name="jdbc.connection" level="ERROR" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	<logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	<logger name="jdbc.audit" level="ERROR" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	
	
	<logger name="org.springframework.web" level="ERROR" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.mybatis" level="ERROR" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.apache" level="ERROR" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="com.kware" level="DEBUG" additivity="false">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</logger>
	

	<root level="INFO">
		<appender-ref ref="applicationLog" />
		<appender-ref ref="console" />
	</root>

</configuration>
