@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/static/fonts/NanumSquareNeoTTF-aLt.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/static/fonts/NanumSquareNeoTTF-bRg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/static/fonts/NanumSquareNeoTTF-cBd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/static/fonts/NanumSquareNeoTTF-dEb.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

html { height: 100%; overflow-x: hidden; }
body { background-color: #D8CCC2; color: #2B1E16; height: 100%; font-family: 'NanumSquareNeo'; transition-property: all; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 300ms; overflow-y: auto; }
html.dark body { background-color: #3C2A21; color: #F8EDE3; }
::-webkit-scrollbar { overflow-clip-margin: 2rem; display: block; overflow: auto; width: .5rem; height: .5rem; transition-property: all; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 150ms; }
::-webkit-scrollbar-corner, ::-webkit-scrollbar-track { opacity: 0; }
::-webkit-scrollbar-thumb { background-color: #9A8C82; border-radius: .2rem; }
html.dark ::-webkit-scrollbar-thumb { background-color: #7A6A61; }
/*md:w-96 w-full*/
.notifies { position: fixed; left: 0; bottom: 0; width: 100%; -webkit-user-select: none; user-select: none; transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms; }
.notifies.right-side { right: 0; left: auto; margin-right: 2rem; }
@media (min-width: 768px) {
    .notifies { width: 30rem; }
}
.notifies > div { position: absolute; bottom: 1rem; width: calc(100% - 2rem); margin: 0 1rem; }
@media (min-width: 768px) {
    .notifies > div { left: 1rem; right: 1rem; width: 100%; margin: 0; }
    .notifies > div:hover { left: 1.5rem; }
    .notifies.right-side > div:hover { left: .5rem; }
}
.notifies > div:not(:first-of-type) { margin-top: .5rem; }

.card { border: 2px solid #AD9F95; background-color: #F8EDE3; border-radius: .25rem; color: #3C2A21; padding: .75rem; --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06)); filter: var(--tw-drop-shadow); overflow-wrap: break-word; }
html.dark .card { background-color: #AD9F95; border-color: #9A8C82; color: #FCF4ED; }
.list { flex: 1; display: flex; overflow-y: auto; overflow-x: hidden; }
.list-content { display: flex; min-height: min-content; flex-direction: column; width: 100%; gap: .25rem; user-select: none; padding-right: .5rem; height: auto; }
@media (min-width: 1024px) {
    .list-content { height: 1px; }
}
.list-content > div { border: 2px solid #D8CCC2; background-color: #D8CCC2; border-radius: .5rem; width: 100%; padding: .25rem .5rem; cursor: pointer; }
.list-content > div:hover { border-color: #AD9F95; background-color: #AD9F95; }
html.dark .list-content > div { border-color: #5B4A41; background-color: #5B4A41; }
html.dark .list-content > div:hover { border-color: #7A6A61; background-color: #7A6A61; }
html .list-content > div.unfocused { border-color: #686868; background-color: #686868; color: #9f9f9f; }
html .list-content > div.unfocused:hover { border-color: #686868; background-color: #686868; color: #9f9f9f; }
html .list-content > div.selected { border-color: #2B1E16 !important; }
html.dark .list-content > div.selected { border-color: #F8EDE3 !important; }
.link { text-decoration-line: underline; color: #60A5FA; }
.link:hover { color: #2563EB; }
html.dark .link { color: #3B82F6; }
html.dark .link:hover { color: #1D4ED8; }
.list-decimal > li { white-space: nowrap; }
.list-decimal > li::marker { color: #14B8A6; }
html.dark .list-decimal > li::marker { color: #0D9488; }
.dataframe { text-align: right; }
.dataframe th, .dataframe td { padding: 0.3rem; font-size: .9rem; border: 1px solid #5B4A41;  }

/*====== input start ======*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
html input, html textarea { color: #2B1E16; background-color: #F8EDE3; padding: .5rem .625rem; outline-width: 0px; border-width: 1px; border-color: #AD9F95; border-radius: 0.25rem; display: block; width: 100%; }
html select { color: #2B1E16; background-color: #F8EDE3; padding: .5rem .625rem; outline-width: 0px; border-width: 1px; border-color: #AD9F95; border-radius: 0.25rem; display: block; transition-property: background-color; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 150ms; }
input:disabled { background-color: #D8CCC2; }
html.dark input:disabled { background-color: #5B4A41; }
html select:hover { background-color: #AD9F95 !important; }
html.dark select:hover { background-color: #7A6A61 !important; }
input:focus, textarea:focus { box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); }
html.dark input, html.dark textarea, html.dark select { color: #F8EDE3; background-color: #9A8C82; border-color: #5B4A41; }
html.dark input::placeholder, html.dark textarea::placeholder, html.dark select::placeholder { color: #D8CCC2; }
.input-group { width: 100%; position: relative; display: flex; gap: 0.25rem; flex-direction: column; }
.input-group label { user-select: none; position: absolute; left: .75rem; top: .5rem; transition-property: all; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 150ms; }
.input-group input { flex: 1; }
.input-group input:focus + label { left: .5rem; top: -.75rem; }
.input-group input:required + label::after { content: "*"; color: #DC0000; }
.input-group input:not(:placeholder-shown) + label { left: .5rem; top: -.75rem; }
.input-group:has(input[type=checkbox]) { flex-direction: row-reverse; justify-content: center; align-items: center; }
.input-group input[type=checkbox] { flex: 0; min-width: 1.5rem; height: 1.5rem; }
.input-group input[type=checkbox] + label { position: relative; left: 0; top: 0; flex: 0; white-space: nowrap; }
/*====== input end ======*/

/*====== button start ======*/
html button, html input[type=submit], html input[type=button], html a.btn { display: inline-block; text-align: center; width: 100%; padding: .5rem .625rem; transition-property: background-color; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 150ms; color: #FCF4ED; font-weight: 500; border-radius: 0.25rem; box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); cursor: pointer; user-select: none; }
html [type=button], html [type=reset], html [type=submit], html button, html a.btn { background-color: #7A655F; }
html.dark [type=button], html.dark [type=reset], html.dark [type=submit], html.dark button, html.dark a.btn { background-color: #826D66; }
html button:not(:disabled):hover, html input[type=submit]:not(:disabled):hover, html input[type=button]:not(:disabled):hover, html a.btn:not(:disabled):hover { background-color: #937D75 !important; }
html.dark button:not(:disabled):hover, html.dark input[type=submit]:not(:disabled):hover, html.dark input[type=button]:not(:disabled):hover, html.dark a.btn:not(:disabled):hover { background-color: #9B857C !important; }
html button.\!bg-primary:hover, html input[type=submit].\!bg-primary:hover, html input[type=button].\!bg-primary:hover, html a.btn.\!bg-primary:hover { background-color: #695451 !important; }
html button.\!bg-secondary:hover, html input[type=submit].\!bg-secondary:hover, html input[type=button].\!bg-secondary:hover, html a.btn.\!bg-secondary:hover { background-color: #8A756E !important; }
html.dark button.\!bg-primary:hover, html.dark input[type=submit].\!bg-primary:hover, html.dark input[type=button].\!bg-primary:hover, html.dark a.btn.\!bg-primary:hover { background-color: #695451 !important; }
html.dark button.\!bg-secondary:hover, html.dark input[type=submit].\!bg-secondary:hover, html.dark input[type=button].\!bg-secondary:hover, html.dark a.btn.\!bg-secondary:hover { background-color: #8A756E !important; }
html button:disabled, html input[type=submit]:disabled, html input[type=button]:disabled, html a.btn:disabled { text-decoration-line: line-through; opacity: .3; }
/*====== button end ======*/

/*====== swal2 start ======*/
body.swal2-height-auto.swal2-shown { height: 100% !important; }
.swal2-container .swal2-popup { background-color: #D8CCC2; color: #2B1E16; }
html.dark .swal2-container .swal2-popup { background-color: #4F4038; color: #D8CCC2; }
.swal2-html-container { user-select: none; }
.swal2-actions button { flex: 1; }
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) { overflow: auto !important; padding-right: 0 !important; }
button.swal2-styled { background-color: #7A655F !important; box-shadow: none !important; }
.swal2-title { user-select: none; }
.swal2-html-container { overflow: initial !important; }
/*====== swal2 end ======*/
