<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 -->
<mapper namespace="mlRequetResponseMapper">

	<insert id="insertMoUserRequest" useGeneratedKeys="true" keyProperty="uid">
		INSERT INTO k_hybrid.mo_user_request (
	          ml_id 
	        , nm 
	        , request_json
	    ) VALUES (
	          #{mlId} 
	        , #{name} 
	        , #{requestJson}::jsonb
	    )
	</insert>
	
	<update id="updateMoUserRequest_noti">
        UPDATE k_hybrid.mo_user_request
        SET 
            noti_json = #{notiJson}::jsonb,
            noti_dt = CURRENT_TIMESTAMP
        WHERE uid = (
	        SELECT uid
	        FROM k_hybrid.mo_user_request
	        WHERE ml_id = #{mlId}
	        ORDER BY request_dt DESC
	        LIMIT 1
	    )
    </update>
    
    <update id="updateMoUserRequest_complete">
        UPDATE k_hybrid.mo_user_request
        SET 
            complete_dt = CURRENT_TIMESTAMP
        WHERE uid = (
	        SELECT uid
	        FROM k_hybrid.mo_user_request
	        WHERE ml_id = #{mlId}
	        ORDER BY request_dt DESC
	        LIMIT 1
	    )
    </update>
	
	<select id="selectMoUserRequestById" resultType="com.kware.policy.task.selector.service.vo.WorkloadRequest$Request">
	    SELECT 
	          uid
	        , ml_id 
	        , nm 
	        , request_json 
	        , request_dt
	        , noti_json
	        , noti_dt
	        , complete_dt
	    FROM k_hybrid.mo_user_request
	    WHERE 1 = 1
	      AND uid    = #{uid}
	</select>

	<insert id="insertMoUserResponse">
	    INSERT INTO k_hybrid.mo_user_response (
	          req_uid 
	        , ml_id
	        , cl_uid 
	        <!-- , no_uid -->
	        , info 
	        , cause
	    ) VALUES (
	          #{reqUid} 
	        , #{mlId} 
	        , #{clUid}::int4 
<!-- 	        , #{result.noUid} --> 
	        , #{info}::jsonb
	        , #{cause} 
	    )
	</insert>
	
	<select id="selectMoUserResponseById" resultType="com.kware.policy.task.selector.service.vo.WorkloadResponse$Response">
	    SELECT 
	          req_uid 
	        , ml_id  
	        , cl_uid 
	        , no_uid 
	        , info 
	        , cause
	        , reg_dt
	    FROM k_hybrid.mo_user_response
	    WHERE 1 = 1
	      AND uid   = #{reqUid} 
	      AND ml_id = #{mlId}
	</select>
	
	<!-- 프로그램을 재시작할때 기존에 등록된 요청중에서 현재 실행중인 요청을 다시 로딩하기 위함 -->
	<select id="selectOldWorkloadRequest" resultType="HashMap">
		SELECT a.request_json::TEXT AS req
			, info::TEXT AS res
			, cl_uid as cluid
		FROM k_hybrid.mo_user_request a
		INNER JOIN k_hybrid.mo_user_response b ON b.req_uid = a.uid
		WHERE a.noti_dt IS NOT NULL
			AND a.complete_dt IS NULL
	</select>
</mapper>

