<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 -->
<mapper namespace="mlRequetResponseMapper">

	<insert id="insertMoUserRequest" useGeneratedKeys="true" keyProperty="uid">
		INSERT INTO k_hybrid.mo_user_request (
	          ml_id 
	        , nm 
	        , info
	        , status
	    ) VALUES (
	          #{mlId} 
	        , #{name} 
	        , #{info}::jsonb
	        , #{status}
	    )
	</insert>
	
	<select id="selectMoUserRequestById" resultType="com.kware.policy.task.selector.service.vo.WorkloadRequest$Request">
	    SELECT 
	          uid
	        , ml_id 
	        , nm 
	        , info 
	        , status
	        , reg_dt
	    FROM k_hybrid.mo_user_request
	    WHERE 1 = 1
	      AND uid    = #{uid}
	      AND ml_uid = #{mlId}
	</select>

	<insert id="insertMoUserResponse">
	    INSERT INTO k_hybrid.mo_user_response (
	          req_uid 
	        , ml_id
	        , cl_uid 
	        <!-- , no_uid -->
	        , info 
	    ) VALUES (
	          #{reqUid} 
	        , #{mlId} 
	        , #{clUid}::int4 
<!-- 	        , #{result.noUid} --> 
	        , #{info}::jsonb 
	    )
	</insert>
	
	<select id="selectMoUserResponseById" resultType="com.kware.policy.task.selector.service.vo.WorkloadResponse$Response">
	    SELECT 
	          req_uid 
	        , ml_id  
	        , cl_uid 
	        , no_uid 
	        , info 
	        , reg_dt
	    FROM k_hybrid.mo_user_response
	    WHERE 1 = 1
	      AND uid   = #{reqUid} 
	      AND ml_id = #{mlId}
	</select>
</mapper>

