{% extends 'base.html' %}

{% block content %}
  <div class="h-full flex justify-center items-center">
    <div class="card lg:w-[500px] md:w-[600px] w-full relative transition-all">
      <form id="form-prom" class="flex flex-col gap-2 px-4 py-2" method="post">
        <p class="text-2xl mb-1.5 select-none">수집 프로메테우스 URL 목록</p>

        <input class="flex-1" name="url" placeholder="http://172.30.1.105:9090" autocomplete="off"/>
        <div class="mt-1 p-1 border-2 rounded border-cocoa-400 max-h-0 transition-all" id="list-prom"></div>

        <div class="flex gap-1 mt-3 md:flex-row flex-col-reverse">
          <div class="md:w-1/3 w-full">
            <a href="/" class="btn !bg-secondary flex-1 md:!w-1/2 w-full">뒤로</a>
          </div>
          <div class="flex gap-1 md:flex-row flex-col md:w-2/3 w-full">
            <button type="button" id="btn-start" class="flex-1 !bg-primary" title="프로메테우스로부터 메트릭을 수집합니다." disabled>수집 시작</button>
            <button type="button" id="btn-stop" class="flex-1 !bg-primary" title="메트릭 수집을 종료합니다." disabled>수집 종료</button>
            <button type="submit" class="flex-1" title="수집할 프로메테우스의 URL을 추가합니다.">추가</button>
          </div>
        </div>
      </form>
      <div class="hidden">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="icon cursor-pointer icon-prom hover:text-cocoa-500">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
        </svg>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/verbal-expressions@1.0.2/dist/verbalexpressions.min.js"></script>
  <script src="{{ url_for('static', path='/js/page/prometheus.js') }}"></script>
{% endblock %}