<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 -->
<mapper namespace="featureMapper">
	<select id="selectCommonFeatuerListALL" resultType="HashMap">
		SELECT fea_name
			-- , fea_sub_name
			, fea_content::text
		FROM k_hybrid.mo_common_feature
		WHERE delete_at = 'N'
		ORDER BY fea_name
			, fea_sub_name;
	</select>
	
	<!-- *********************    -->
	
	<!-- 모든 데이터 조회 -->
    <select id="selectClusterNodeFeatureListAll" resultType="HashMap">
        SELECT cl_uid
			, nm
			, feature::text
			, auto_feature::text
		FROM k_hybrid.mo_cluster_node
		WHERE delete_at = 'N'
    </select>
    
    <!-- 모든 데이터 조회 -->
    <select id="selectClusterFeatureListAll" resultType="HashMap">
	    SELECT uid AS cl_uid
			, feature::text
		FROM k_hybrid.mo_cluster
		WHERE delete_at = 'N'
    </select>

       <!-- 데이터 업데이트 -->
    <update id="updateClusterNodeAutoFeature" parameterType="HashMap">
        UPDATE mo_cluster_node
		SET auto_feature = #{autoFeature}::jsonb,
		    feature = (case when feature is null then #{autoFeature}::jsonb else feature end)
		WHERE cl_uid = #{clUid}
		  AND nm=#{nm}
    </update>
</mapper>

